* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Cutive", sans-serif;
}

h3, h4 {
    margin: 12px;
    text-align: center;
}

.select-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 12px;
    gap: 16px;
    margin-bottom: 100px;
}

.select-button {
    width: 150px;
    height: 150px;
}

.navigator {    
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    border-top: 2px solid rgba(0, 0, 0, 0.63);
}

.navigator a {
    width: 100%;
    text-decoration: none;
}

.nav-button {
    width: 100%;
    height: 75px;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.23);
    border-right: 1px solid rgba(0, 0, 0, 0.23);
}

/* --- */

.incoming-orders-container {
    margin: 12px;
}

.order {
    border: 1px solid black;
    border-radius: 8px;
    padding: 12px;
    margin: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    transition: transform 0.3s ease, opacity 0.3s ease;
    touch-action: pan-y;
}

.order ul {
    margin-top: 4px;
}